:root {
  --hover-color: rgb(185, 184, 184);
  --hover-filter: invert(76%) sepia(5%) saturate(12%) hue-rotate(356deg)
    brightness(96%) contrast(94%);
  --icon-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(60deg)
    brightness(105%) contrast(97%);
  --button-hover-color: rgb(39, 39, 39);
  --button-color: black;
}

html {
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: 0;
}

div.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div.content {
  width: 75%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
}
