div.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: silver;
  margin-top: auto;
  background-color: black;
  color: white;
}

div.footer > p {
  margin: 0;
}

div.footer a {
  text-decoration: none;
  color: var(--hover-color);
}
