div.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 3rem;
  background: linear-gradient(rgb(90, 90, 90), white);
  background-clip: text;
  color: transparent;
}
